.DS_Store
homework/.ipynb_checkpoints/
homework-solutions/.ipynb_checkpoints/
labs/.ipynb_checkpoints/
lectures/2014_09_25-lecture/.ipynb_checkpoints/
lectures/2014_09_30-lecture/.ipynb_checkpoints/
lectures/2014_10_02-lecture/.ipynb_checkpoints/

